# Compiled class file
target/
*.class

# Log files
*.log
*.log.*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/genfiles.properties
/nbproject/xml-resources/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db
Desktop.ini

### Docker ###
.docker/

### Personal Interview & Guide Docs ###
interview_guide.html
*.pdf
